<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- META ============================================= -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" th:href="@{/css/assets.css}">
    <link rel="stylesheet" th:href="@{/css/typography.css}">
    <link rel="stylesheet" th:href="@{/css/shortcodes/shortcodes.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link class="skin" rel="stylesheet" th:href="@{/css/color/color-1.css}">

</head>

<body id="bg">
<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <div class="account-form">
        <div class="account-head" style="background-image:url('assets/images/background/bg2.jpg');">
            <a ><img th:src="@{/images/logo-white-2.png}" alt="Logo"></a>
        </div>
        <div class="account-form-inner">
            <div class="account-container">
                <div class="heading-bx left">
                    <h2 class="title-head">Email <span>Confirmation</span></h2>
                    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
                </div>

                <form th:action="@{/forgot-password}" method="post" class="contact-bx">
                    <!-- Success message -->
                    <div th:if="${successMessage}" class="alert alert-success">
                        <span th:text="${successMessage}"></span>
                    </div>

                    <!-- Error message -->
                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <span th:text="${errorMessage}"></span>
                    </div>

                    <div class="row placeani">
                        <!-- Email input -->
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Enter your Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <!-- Confirm button -->
                        <div class="col-lg-12 m-b30">
                            <button type="submit" class="btn button-md">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- External JavaScripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{/vendors/counter/counterup.min.js}"></script>
<script th:src="@{/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{/vendors/masonry/masonry.js}"></script>
<script th:src="@{/vendors/masonry/filter.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/vendors/switcher/switcher.js}"></script>

</body>
</html>
