<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" th:href="@{/css/assets.css}" />

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" th:href="@{/css/typography.css}" />

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" th:href="@{/css/shortcodes/shortcodes.css}" />

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link class="skin" rel="stylesheet" th:href="@{/css/color/color-1.css}" />
</head>
<body>
<div th:replace="header :: header"></div>
<div style="height: 300px"></div>
<section class="ftco-section bg-light">
    <div class="container">
        <h1>Create New User</h1>
        <form th:action="@{/admin/users/create}" th:object="${user}" method="post">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" th:field="*{fullName}" required/>
<br>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required/>
<br>
            <label for="role">Role:</label>
            <select id="role" th:field="*{role}" required>
<!--                <option value="ROLE_MARKETING">Marketing</option>-->
<!--                <option value="ROLE_EXPERT">Expert</option>-->
                <option th:each="role : ${roles}" th:value="${role.roleName}" th:text="${role.getRoleName()}">Role</option>
            </select>
<br>
            <button type="submit">Create User</button>
        </form>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/scrollax.min.js}"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{/js/google-map.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
