<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--HEADER FOR ADMIN, MARKETING-->
<header th:fragment="admin-header" class="ttr-header">
    <div class="ttr-header-wrapper">
        <!--sidebar menu toggler start -->
        <div class="ttr-toggle-sidebar ttr-material-button">
            <i class="ti-close ttr-open-icon"></i>
            <i class="ti-menu ttr-close-icon"></i>
        </div>
        <!--sidebar menu toggler end -->
        <!--logo start -->
        <div class="ttr-logo-box">
            <div>
                <a th:href="@{/home}" class="ttr-logo">
                    <img alt="" class="ttr-logo-mobile" src="../images/logo-white.png" width="30" height="30">
                    <img alt="" class="ttr-logo-desktop" src="../images/logo-white.png" width="160" height="27">
                </a>
            </div>
        </div>
        <!--logo end -->
        <div class="ttr-header-menu">
            <!-- header left menu start -->
            <ul class="ttr-header-navigation">
                <li>
                    <a th:href="@{/home}" class="ttr-material-button ttr-submenu-toggle">Home</a>
                </li>
                <!--                <li>-->
                <!--                    <a href="#" class="ttr-material-button ttr-submenu-toggle" th:text="${#authentication.getPrincipal().role.getRoleName() == 'ROLE_ADMIN'? 'Blogs & Subjects' : 'Blogs'}"> <i-->
                <!--                            class="fa fa-angle-down"></i></a>-->
                <!--                    <div class="ttr-header-submenu">-->
                <!--                        <ul>-->
                <!--                            <li><a th:href="@{/blogs}">Blogs</a></li>-->
                <!--                        </ul>-->
                <!--                        <ul>-->
                <!--                            <li><a th:href="@{/manage-subject}">Subjects</a></li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </li>-->

            </ul>
            <!-- header left menu end -->
        </div>
        <div class="ttr-header-right ttr-with-separator">
            <!-- header right menu start -->
            <ul class="ttr-header-navigation">

                <li>
                    <a href="#" class="ttr-material-button ttr-submenu-toggle"><span class="ttr-user-avatar"><img alt=""
                                                                                                                  th:src="${#authentication.getPrincipal().profileImage}"
                                                                                                                  width="32"
                                                                                                                  height="32"></span></a>
                    <div class="ttr-header-submenu">
                        <ul>
                            <li><a th:href="@{/profile}">My profile</a></li>
                            <!--                            <li><a th:href="@{/profile/change-password}">Change Password</a></li>-->
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- header right menu end -->
        </div>
        <!--header search panel start -->
        <div class="ttr-search-bar">
            <form class="ttr-search-form">
                <div class="ttr-search-input-wrapper">
                    <input type="text" name="qq" placeholder="search something..." class="ttr-search-input">
                    <button type="submit" name="search" class="ttr-search-submit"><i class="ti-arrow-right"></i>
                    </button>
                </div>
                <span class="ttr-search-close ttr-search-toggle">
						<i class="ti-close"></i>
					</span>
            </form>
        </div>
        <!--header search panel end -->
    </div>
</header>
<!--SIDEBAR FOR ADMIN-->
<div th:fragment="admin-sidebar" class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
            <a href="#"><img alt="" src="../images/logo.png" width="122" height="27"></a>
            <!-- <div class="ttr-sidebar-pin-button" title="Pin/Unpin Menu">
                <i class="material-icons ttr-fixed-icon">gps_fixed</i>
                <i class="material-icons ttr-not-fixed-icon">gps_not_fixed</i>
            </div> -->
            <div class="ttr-sidebar-toggle-button">
                <i class="ti-arrow-left"></i>
            </div>
        </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>
                <li>
                    <a class="ttr-material-button"
                       th:href="@{/admin/dashboard}">
                        <span class="ttr-icon"><i class="ti-home"></i></span>
                        <span class="ttr-label">Dashboard</span></a>
                </li>
                <!--                <li>-->
                <!--                    <a class="ttr-material-button"-->
                <!--                       th:href="@{/profile}">-->
                <!--                        <span class="ttr-icon"><i class="ti-user"></i></span>-->
                <!--                        <span class="ttr-label">Profile</span></a>-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                    &lt;!&ndash;                                            <a class="nav-link" data-toggle="tab" href="#edit-profile"><i class="ti-pencil-alt"></i>Edit Profile</a>&ndash;&gt;-->
                <!--                    <a class="ttr-material-button"-->
                <!--                       th:href="@{/profile/edit}">-->
                <!--                        <span class="ttr-icon"><i class="ti-eraser"></i></span>-->
                <!--                        <span class="ttr-label">Edit Profile</span></a>-->
                <!--                </li>-->
                <li>
                    <a class="ttr-material-button"
                       th:href="@{/admin/users}">
                        <span class="ttr-icon"><i class="ti-view-list"></i></span>
                        <span class="ttr-label">View User List</span></a>
                </li>
                <li>
                    <a class="ttr-material-button"
                       th:href="@{/admin/users/create}">
                        <span class="ttr-icon"><i class="ti-new-window"></i></span>
                        <span class="ttr-label">Create New User</span></a>
                </li>
                <!--                <li>-->
                <!--                    <a class="ttr-material-button"-->
                <!--                       th:href="@{/profile/change-password}">-->
                <!--                        <span class="ttr-icon"><i class="ti-pencil"></i></span>-->
                <!--                        <span class="ttr-label">Change Password</span></a>-->
                <!--                </li>-->
                <li><a class="ttr-material-button"
                       th:href="@{/admin/manage-subject}">
                    <span class="ttr-icon"><i class="ti-pencil"></i></span>
                    <span class="ttr-label">Subject Management</span></a>
                </li>
                <li class="ttr-seperate"></li>
            </ul>
            <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>
</body>
<!--SIDEBAR FOR MARKETING-->
<div th:fragment="marketing-sidebar" class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
            <a href="#"><img alt="" src="../images/logo.png" width="122" height="27"></a>
            <div class="ttr-sidebar-toggle-button">
                <i class="ti-arrow-left"></i>
            </div>
        </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>
                <li>
                    <a class="ttr-material-button"
                       th:href="@{/marketing/dashboard}">
                        <span class="ttr-icon"><i class="ti-home"></i></span>
                        <span class="ttr-label">Dashboard</span></a>
                </li>
                <li>
                    <a class="ttr-material-button"
                       th:href="@{/marketing/customers}">
                        <span class="ttr-icon"><i class="ti-user"></i></span>
                        <span class="ttr-label">View User List</span></a>
                </li>
                <li>
                    <a class="ttr-material-button"
                       th:href="@{/marketing/manage/blog-list}">
                        <span class="ttr-icon"><i class="ti-view-list"></i></span>
                        <span class="ttr-label">Manage Blog</span></a>
                </li>
                <li>
                    <a class="ttr-material-button"
                       th:href="@{/contact/list}">
                        <span class="ttr-icon"><i class="ti-view-list"></i></span>
                        <span class="ttr-label">Manage Contect</span></a>
                </li>
                <li class="ttr-seperate"></li>
            </ul>
            <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>

</html>