<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/assets.css}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/typography.css}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/shortcodes/shortcodes.css}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link class="skin" rel="stylesheet" type="text/css" th:href="@{/css/color/color-1.css}">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/layers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/settings.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/navigation.css}">

</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <!-- Header Top ==== -->
    <div th:replace="header :: header"></div>
    <!-- header END -->
    <!-- Inner Content Box ==== -->
    <div class="page-content bg-white">
        <!-- Page Heading Box ==== -->
<!--        <div class="page-banner ovbl-dark" style="background-image:url(/images/banner1.png);">-->
<!--            <div class="container">-->
<!--                <div class="page-banner-entry">-->
<!--                    <h1 class="text-white">Blog Classic</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Blog Classic</li>
                </ul>
            </div>
        </div>
        <!-- Page Heading Box END ==== -->
        <!-- Page Content Box ==== -->
        <div class="content-block">
            <!-- Blog Grid ==== -->
            <div class="section-area section-sp1">
                <div class="container">
                    <div class="ttr-blog-grid-3 row" id="masonry">
                        <div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40" th:each="blog : ${blogPage}">
                            <div class="recent-news">
                                <div class="action-box">
                                    <img th:src="${blog.image}" alt="">
                                </div>
                                <div class="info-bx">
                                    <ul class="media-post">
                                        <li><a href="#"><i class="fa fa-calendar"></i><span th:text="${blog.createdDate}"> </span></a></li>
                                        <li><a href="#"><i class="fa fa-user"></i><span th:text="${blog.createdBy.fullName}"> </span></a></li>
                                    </ul>
                                    <h5 class="post-title"><a th:href="@{/blogs/{id}(id=${blog.blogId})}"><span th:text="${blog.title}"> </span></a></h5>
                                    <p><span th:text="${blog.content.length() > 60 ? blog.content.substring(0, 60) + '...' : blog.content}"> </span></p>
                                    <div class="post-extra">
                                        <a href="#" class="btn-link" th:href="@{/blogs/{id}(id=${blog.blogId})}">READ MORE</a>
                                        <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i> <span th:text="${feedbackCounts[blog.blogId]} + ' comments'">0 comments</span></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination ==== -->
                    <div class="pagination-bx rounded-sm gray clearfix">
                        <ul class="pagination">
                            <li th:classappend="${blogPage.hasPrevious()} ? '' : 'disabled'">
                                <a th:href="@{/blog-list(page=${blogPage.number - 1}, size=${blogPage.size})}">
                                    <i class="ti-arrow-left"></i> Prev
                                </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, blogPage.totalPages - 1)}"
                                th:classappend="${i} == ${blogPage.number} ? 'active'">
                                <a th:href="@{/blog-list(page=${i}, size=${blogPage.size})}"
                                   th:text="${i + 1}">1</a>
                            </li>
                            <li th:classappend="${blogPage.hasNext()} ? '' : 'disabled'">
                                <a th:href="@{/blog-list(page=${blogPage.number + 1}, size=${blogPage.size})}">
                                    Next <i class="ti-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Pagination END ==== -->
                </div>
            </div>
            <!-- Blog Grid END ==== -->
        </div>
        <!-- Page Content Box END ==== -->
    </div>
    <!-- Page Content Box END ==== -->
    <!-- Footer ==== -->
    <div th:replace="footer :: footer"></div>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up"></button>
</div>
<!-- External JavaScripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{/vendors/counter/counterup.min.js}"></script>
<script th:src="@{/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{/vendors/masonry/masonry.js}"></script>
<script th:src="@{/vendors/masonry/filter.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/vendors/switcher/switcher.js}"></script>
<!-- Revolution JavaScripts Files -->
<script th:src="@{/vendors/revolution/js/jquery.themepunch.tools.min.js}"></script>
<script th:src="@{/vendors/revolution/js/jquery.themepunch.revolution.min.js}"></script>
<!-- Slider revolution 5.0 Extensions -->
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.carousel.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.migration.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.parallax.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.video.min.js}"></script>
</body>

</html>
