<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template"/>

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template"/>
    <meta property="og:description" content="EduChamp : Education HTML Template"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/assets.css}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/typography.css}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/shortcodes/shortcodes.css}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link class="skin" rel="stylesheet" type="text/css" th:href="@{/css/color/color-1.css}">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/layers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/settings.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/navigation.css}">

</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-icon-bx"></div>

    <!-- Header Top ==== -->
    <div th:replace="header :: header"></div>
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Contact Us 1</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->

        <!-- inner page banner -->
        <div class="page-banner contact-page section-sp2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 m-b30">
                        <div class="bg-primary text-white contact-info-bx">
                            <h2 class="m-b10 title-head">Contact <span>Information</span></h2>
                            <p>Contact us at the following address:</p>
                            <div class="widget widget_getintuch">
                                <ul>
                                    <li><i class="ti-location-pin"></i>Hoa Lac Hi-tech Park, km 29, Đại lộ, Thăng Long,
                                        Hà Nội, Vietnam
                                    </li>
                                    <li><i class="ti-mobile"></i>0800-123456 (24/7 Support Line)</li>
                                    <li><i class="ti-email"></i>info@example.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <form class="contact-bx" th:action="@{/contact/submit}" method="post" th:object="${contact}">
                            <div class="heading-bx left">
                                <h2 class="title-head">Get In <span>Touch</span></h2>
                                <p>Contact us using the form below.</p>
                            </div>
                            <div class="row placeani">
                                <!-- Name Field -->
                                <div class="col-lg-6">
                                    <label>Your Name</label>
                                    <input type="text" th:field="*{name}" class="form-control" required>
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
                                </div>

                                <!-- Email Field -->
                                <div class="col-lg-6">
                                    <label>Your Email Address</label>
                                    <input type="email" th:field="*{email}" class="form-control" required>
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>
                                </div>

                                <!-- Phone Field -->
                                <div class="col-lg-6">
                                    <label>Your Phone</label>
                                    <input type="text" th:field="*{phone}" class="form-control" required>
                                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red;"></span>
                                </div>

                                <!-- Message Field -->
                                <div class="col-lg-12">
                                    <label>Message</label>
                                    <textarea rows="4" th:field="*{message}" class="form-control" required></textarea>
                                    <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color: red;"></span>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-lg-12">
                                    <button type="submit" class="btn button-md">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
    </div>
    <!-- Content END-->
    <!-- Footer ==== -->
    <div th:replace="footer :: footer"></div>
    <!-- Footer END ==== -->
    <!-- scroll top button -->
    <button class="back-to-top fa fa-chevron-up"></button>
</div>
<!-- External JavaScripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{/vendors/counter/counterup.min.js}"></script>
<script th:src="@{/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{/vendors/masonry/masonry.js}"></script>
<script th:src="@{/vendors/masonry/filter.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/vendors/switcher/switcher.js}"></script>
<script th:src="@{/vendors/revolution/js/jquery.themepunch.tools.min.js}"></script>
<script th:src="@{/vendors/revolution/js/jquery.themepunch.revolution.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.carousel.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.migration.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.parallax.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
<script th:src="@{/vendors/revolution/js/extensions/revolution.extension.video.min.js}"></script>

</body>


</html>
