<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template"/>

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template"/>
    <meta property="og:description" content="EduChamp : Education HTML Template"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon"/>

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" th:href="@{/css/assets.css}"/>

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" th:href="@{/css/typography.css}"/>

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" th:href="@{/css/shortcodes/shortcodes.css}"/>

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link class="skin" rel="stylesheet" th:href="@{/css/color/color-1.css}"/>
    <a th:href="@{/profile/{userId}(userId=${user.userId})}"/>

<body>
<div class="page-wraper">
    <div th:replace="header :: header"></div>
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner1.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Profile</h1>
                </div>
            </div>
        </div>
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="home.html">Home</a></li>
                    <li>Profile</li>
                    <li>Edit Profile</li>
                </ul>
            </div>
        </div>
        <div class="content-block">
            <!-- About Us -->
            <div class="section-area section-sp1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                            <div class="profile-bx text-center">
                                <div class="user-profile-thumb">
                                    <img class="user-profile-thumb" th:src="@{'profile/images/' + ${user.profileImage}}"
                                         alt="Profile Image"/>
                                    <!--                                    <form action="#" th:action="@{/profile/upload}" method="post" enctype="multipart/form-data">-->
                                    <!--                                        <input type="file" name="image" accept="image/*"/>-->
                                    <!--                                        <button type="submit">Upload New Profile Image</button>-->
                                    <!--                                    </form>-->
                                </div>
                                <div class="profile-info">
                                    <h4 th:text="${user.fullName}"></h4>
                                    <span th:text="${user.email}"></span>
                                </div>
                                <div class="profile-tabnav">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" th:href="@{/profile}"><i
                                                    class="ti-book"></i>My Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <!--                                            <a class="nav-link" data-toggle="tab" href="#edit-profile"><i class="ti-pencil-alt"></i>Edit Profile</a>-->
                                            <a class="nav-link active" data-toggle="tab" th:href="@{/profile/edit}"><i
                                                    class="ti-pencil-alt"></i>Edit Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" th:href="@{/profile/change-password}"><i
                                                    class="ti-lock"></i>Change Password</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="edit-profile">
                            <div class="profile-head">
                                <h3>Edit Profile</h3>
                            </div>
                            <form th:action="@{/profile/edit}" th:object="${user}" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-field">
                                    <label for="fullName">Full Name:</label>
                                    <input type="text" id="fullName" th:field="*{fullName}"/>
                                </div>
                                <div class="form-field">
                                    <label for="description">Description:</label>
                                    <textarea id="description" th:field="*{description}"></textarea>
                                </div>
                                <div class="form-field">
                                    <button type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="body edit-profile">-->
    <!--        <div class="center-form">-->
    <!--            <img class="user-profile-thumb" th:src="@{'profile/images/' + ${user.profileImage}}" alt="Profile Image"/>-->
    <!--            <form th:action="@{/profile/edit}" th:object="${user}" method="post" enctype="multipart/form-data">-->
    <!--                <div class="form-field">-->
    <!--                    <label for="fullName">Full Name:</label>-->
    <!--                    <input type="text" id="fullName" th:field="*{fullName}"/>-->
    <!--                </div>-->
    <!--                <div class="form-field">-->
    <!--                    <label for="description">Description:</label>-->
    <!--                    <textarea id="description" th:field="*{description}"></textarea>-->
    <!--                </div>-->
    <!--                <div class="form-field">-->
    <!--                    <button type="submit">Save</button>-->
    <!--                </div>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->

    <div th:replace="footer :: footer"></div>
</div>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4"
                stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4"
                stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/scrollax.min.js}"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{/js/google-map.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>
