<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template"/>

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template"/>
    <meta property="og:description" content="EduChamp : Education HTML Template"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>

    <!-- PAGE TITLE -->
    <title>EduChamp : Education HTML Template</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- All PLUGINS CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/assets.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/typography.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shortcodes/shortcodes.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link class="skin" rel="stylesheet" type="text/css" th:href="@{/css/color/color-1.css}">

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/layers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/settings.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/revolution/css/navigation.css}">

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

    <style>
        .info-bx h5 {
            height: 48px; /* Adjust based on desired height */
            line-height: 24px; /* Match line height to ensure two lines fit */
            overflow: hidden; /* Hide overflow if the title is too long */
        }

        .info-bx span {
            display: block;
            margin-top: 8px;
        }


        .courses-carousel .item {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .cours-bx {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

    </style>
</head>

<body id="bg">
<div class="page-wraper">
    <!-- Include Header -->
    <div th:replace="header :: header"></div>

    <!-- Content -->
    <div class="page-content bg-white">
        <div class="page-content bg-white">
            <!-- Main Slider -->

            <!-- Main Slider -->
            <div class="content-block">
                <!-- Popular Subjects -->
                <div class="section-area section-sp2 popular-courses-bx">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 heading-bx left">
                                <h2 class="title-head">Popular <span>Subjects</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                                <!-- Dynamic subjects loop -->
                                <div th:each="subject : ${subjects}" class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img th:src="${subject.subjectImage}" alt="Subject Image">
                                            <a th:href="@{/subject-detail/{subjectId}(subjectId=${subject.subjectId})}"
                                               class="btn">Read More</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5>
                                                <a th:href="@{/subject-detail/{subjectId}(subjectId=${subject.subjectId})}"
                                                   th:text="${subject.subjectName}"></a></h5>
                                            <span th:text="${subject.category.categoryName}">Category</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- End of dynamic subjects loop -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Popular Subjects END -->

                <div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center"
                     style="background-image:url(assets/images/background/bg1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="join-content-bx text-white">
                                    <h2>Learn a new skill online on <br> your time</h2>
                                    <h4><span class="counter">57,000</span> Online Courses</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.</p>
                                    <a href="#" class="btn button-md">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form END -->

                <div class="section-area section-sp1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 m-b30">
                                <h2 class="title-head">Learn a new skill online<br> <span class="text-primary"> on your time</span>
                                </h2>
                                <h4><span class="counter">57,000</span> Online Courses</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type.</p>
                                <a href="#" class="btn button-md">Join Now</a>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon1.png"
                                                                                   alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Our Philosophy</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon2.png"
                                                                                   alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Kingster's Principle</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon3.png"
                                                                                   alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Key Of Success</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon4.png"
                                                                                   alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Our Philosophy</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Testimonials -->
                <div class="section-area section-sp1 bg-fix ovbl-dark text-white"
                     style="background-image:url(assets/images/background/bg1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">3000</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Completed Projects</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">2500</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Happy Clients</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">1500</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Questions Answered</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">1000</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Ordered Coffee's</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials END -->

                <!-- Testimonials ==== -->
                <div class="section-area section-sp2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 heading-bx left">
                                <h2 class="title-head text-uppercase">What People <span>Say</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page</p>
                            </div>
                        </div>
                        <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                            <div class="item">
                                <div class="testimonial-bx">
                                    <div class="testimonial-thumb">
                                        <img src="assets/images/testimonials/pic1.jpg" alt="">
                                    </div>
                                    <div class="testimonial-info">
                                        <h5 class="name">Peter Packer</h5>
                                        <p>-Art Director</p>
                                    </div>
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-bx">
                                    <div class="testimonial-thumb">
                                        <img src="assets/images/testimonials/pic2.jpg" alt="">
                                    </div>
                                    <div class="testimonial-info">
                                        <h5 class="name">Peter Packer</h5>
                                        <p>-Art Director</p>
                                    </div>
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials END ==== -->
            </div>
            <!-- contact area END -->
        </div>

    </div>

    <!-- Footer Section -->
    <div th:replace="footer :: footer"></div>
</div>

<!-- External JavaScripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{/vendors/counter/counterup.min.js}"></script>
<script th:src="@{/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{/vendors/masonry/masonry.js}"></script>
<script th:src="@{/vendors/masonry/filter.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/vendors/switcher/switcher.js}"></script>
</body>

</html>
