<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template"/>

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template"/>
    <meta property="og:description" content="EduChamp : Education HTML Template"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link th:href="@{/admin/error-404.html}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/admin/images/favicon.png}" rel="shortcut icon" type="image/x-icon"/>

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Profile</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link th:href="@{/admin/css/assets.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/vendors/calendar/fullcalendar.css}" rel="stylesheet" type="text/css">

    <!-- TYPOGRAPHY ============================================= -->
    <link th:href="@{/admin/css/typography.css}" rel="stylesheet" type="text/css">

    <!-- SHORTCODES ============================================= -->
    <link th:href="@{/admin/css/shortcodes/shortcodes.css}" rel="stylesheet" type="text/css">

    <!-- STYLESHEETS ============================================= -->
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/css/dashboard.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/css/color/color-1.css}" class="skin" rel="stylesheet" type="text/css">
    <style>
        .pagination a {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            margin: 0 5px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .pagination a:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

        .pagination a:active {
            background-color: #003d80;
            transform: scale(1);
        }

        .pagination span {
            margin: 0 10px;
            font-size: 16px;
        }

        .form-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        .form-field label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-field input,
        .form-field select {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
        }

        .error-message {
            color: red;
            font-size: 0.9em;
        }

        .btn-primary {
            padding: 10px 20px;
            background-color: #800080;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #301934;
            transform: scale(1.05);
        }

        .btn-primary:active {
            background-color: #301934;
            transform: scale(1);
        }

        .position-relative {
            position: relative;
        }

        .form-control {
            padding-right: 40px; /* Add padding to avoid text overlapping with the button */
        }

        .password-toggle-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            cursor: pointer;
            color: #333;
            padding: 0;
            font-size: 1.2em;
        }

        .password-toggle-btn i {
            font-size: 1.2em;
        }

        .text-center {
            text-align: center;
        }

        .profile-picture {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid #ddd;
        }
    </style>
</head>
<!-- header start -->
<div class="page-wraper">
    <div th:replace="header :: header"></div>
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li><a href="profile">Profile</a></li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- inner page banner END -->
        <div class="content-block">
            <!-- About Us -->
            <div class="section-area section-sp1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                            <div class="profile-bx text-center">
                                <div class="user-profile-thumb">
                                    <img th:src="@{${user.getProfileImage()}}" alt=""/>
                                </div>
                                <div class="profile-info">
                                    <h4 th:text="${user.fullName}"></h4>
                                    <span th:text="${user.email}"></span>
                                </div>
                                <div class="profile-tabnav">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#edit-profile"><i
                                                    class="ti-pencil-alt"></i>Edit Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#change-password"><i
                                                    class="ti-lock"></i>Change Password</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
                            <div class="profile-content-bx">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="edit-profile">
                                        <div class="profile-head">
                                            <h3>Edit Profile</h3>
                                        </div>
                                        <form class="edit-profile" th:action="@{/profile/edit}" th:object="${user}" method="post" enctype="multipart/form-data"
                                              id="registrationForm">
                                            <div class="">
                                                <div class="text-center mb-4">
                                                    <!-- Profile Picture -->
                                                    <img id="profilePicturePreview" th:src="@{${user.profileImage}}" alt="Profile Picture"
                                                         class="profile-picture rounded-circle mb-3"
                                                         style="width: 150px; height: 150px; object-fit: cover; border: 4px solid #ddd;">

                                                    <!-- File Input for Uploading New Profile Picture -->
                                                    <div class="form-group text-center">
                                                        <label for="profileImage">Update Profile Picture</label>
                                                        <input type="file" id="profileImage" name="image" class="form-control-file mt-2" onchange="previewProfilePicture()">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
                                                        <h3>Personal Details</h3>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Full
                                                        Name</label>
                                                    <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                        <input class="form-control" type="text"  th:field="*{fullName}" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Email</label>
                                                    <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                        <input class="form-control" type="text" th:field="*{email}" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Date Of Birth: </label>
                                                    <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                        <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" th:field="*{dateOfBirth}"

                                                               required>
                                                        <span id="ageError" style="color: red;"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Gender</label>
                                                    <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                        <select id="gender" th:field="*{gender}" class="form-control" required>
                                                            <option value="true" th:selected="${user.gender == 'Male'}">Male</option>
                                                            <option value="false" th:selected="${user.gender == 'Female'}">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Phone
                                                        No.</label>
                                                    <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                        <input type="text" id="phone" name="phone" class="form-control" th:field="*{phone}"
                                                               pattern="(84|0[35789])[0-9]{8}"
                                                               title="Please enter a valid phone number starting with 84 or 0 followed by a valid prefix (3, 5, 7, 8, or 9) and 8 digits."
                                                               required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Description</label>
                                                    <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                        <textarea id="description" name="description" class="form-control" rows="3"
                                                                  th:field="*{description}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                                                        </div>
                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                                            <button type="submit" class="btn">Save changes</button>
                                                            <button type="reset" class="btn-secondry">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="change-password">
                                        <div class="profile-head">
                                            <h3>Change Password</h3>
                                        </div>
                                        <form th:action="@{/profile/change-password}" th:object="${passwordForm}" method="post"
                                              onsubmit="return validatePassword()" class="edit-profile">
                                            <div class="">
                                                <div class="form-group row">
                                                    <div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
                                                        <h3>Password</h3>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">New
                                                        Password</label>
                                                    <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                                                        <div class="position-relative">
                                                            <input class="form-control" id="newPassword" type="password" name="newPassword"
                                                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*\s).{8,}$"
                                                                   title="Password must be at least 8 characters, include at least one uppercase letter, one lowercase letter, and one number, with no spaces."
                                                                   required>
                                                            <button type="button" class="password-toggle-btn" onclick="togglePasswordVisibility('newPassword')">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Re
                                                        Type New Password</label>
                                                    <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                                                        <div class="position-relative">
                                                            <input id="confirmPassword" type="password" name="confirmPassword" class="form-control"
                                                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?!.*\s).{8,}$"
                                                                   title="Password must be at least 8 characters, include at least one uppercase letter, one lowercase letter, and one number, with no spaces."
                                                                   required>
                                                            <button type="button" class="password-toggle-btn" onclick="togglePasswordVisibility('confirmPassword')">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                                                </div>
                                                <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                                                    <button type="submit" class="btn">Save changes</button>
                                                    <button type="reset" class="btn-secondry">Cancel</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact area END -->
    </div>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/admin/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/admin/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/admin/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/admin/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/admin/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{/admin/vendors/counter/counterup.min.js}"></script>
<script th:src="@{/admin/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{/admin/vendors/masonry/masonry.js}"></script>
<script th:src="@{/admin/vendors/masonry/filter.js}"></script>
<script th:src="@{/admin/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/admin/vendors/scroll/scrollbar.min.js}"></script>
<script th:src="@{/admin/js/functions.js}"></script>
<script th:src="@{/admin/vendors/chart/chart.min.js}"></script>
<script th:src="@{/admin/js/admin.js}"></script>
<script th:src="@{/admin/vendors/calendar/moment.min.js}"></script>
<script th:src="@{/admin/vendors/calendar/fullcalendar.js}"></script>
<script th:src="@{/admin/vendors/switcher/switcher.js}"></script>

<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            defaultDate: '2019-03-12',
            navLinks: true, // can click day/week names to navigate views

            weekNumbers: true,
            weekNumbersWithinDays: true,
            weekNumberCalculation: 'ISO',

            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2019-03-01'
                },
                {
                    title: 'Long Event',
                    start: '2019-03-07',
                    end: '2019-03-10'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2019-03-09T16:00:00'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2019-03-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2019-03-11',
                    end: '2019-03-13'
                },
                {
                    title: 'Meeting',
                    start: '2019-03-12T10:30:00',
                    end: '2019-03-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2019-03-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2019-03-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2019-03-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2019-03-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2019-03-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2019-03-28'
                }
            ]
        });

    });
</script>

<script>
    // Toggle password visibility
    function togglePasswordVisibility(id) {
        const passwordInput = document.getElementById(id);
        const icon = passwordInput.nextElementSibling.querySelector('i');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.replace('fa fa-eye', 'fa fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            icon.classList.replace('fa fa-eye-slash', 'fa fa-eye');
        }
    }

    // Validate if the passwords match
    function validatePassword() {
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        if (newPassword !== confirmPassword) {
            alert('Passwords do not match. Please try again.');
            return false;
        }
        return true;
    }

    function previewProfilePicture() {
        const fileInput = document.getElementById("profileImage");
        const previewImage = document.getElementById("profilePicturePreview");

        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                previewImage.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }
</script>

<script>
    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        const dateInput = document.getElementById('dateOfBirth');
        const dob = new Date(dateInput.value);
        const today = new Date();

        // Calculate the age
        let age = today.getFullYear() - dob.getFullYear();
        const m = today.getMonth() - dob.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < dob.getDate())) {
            age--;
        }

        // Check if the age is less than 10
        if (age < 10) {
            event.preventDefault(); // Prevent form submission
            document.getElementById('ageError').textContent = "You must be at least 10+ years old.";
        } else {
            document.getElementById('ageError').textContent = ""; // Clear error message if valid
        }
    });
</script>
</body>
</html>