<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template"/>

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template"/>
    <meta property="og:description" content="EduChamp : Education HTML Template"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon"/>

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" th:href="@{/css/assets.css}"/>

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" th:href="@{/css/typography.css}"/>

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" th:href="@{/css/shortcodes/shortcodes.css}"/>

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link class="skin" rel="stylesheet" th:href="@{/css/color/color-1.css}"/>
</head>
<style>
    #questions {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #questions td, #customers th {
      border: 2px solid #ddd;
      padding: 8px;
    }

    #questions tr:nth-child(even){background-color: #f2f2f2;}

    #questions tr:hover {background-color: #ddd;}

    #questions th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4D3378;
      color: white;
    }
</style>
<body>
<div th:replace="header :: header"></div>
<!-- END nav -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Question Bank</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Question Bank</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- inner page banner END -->
    <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                        <div class="widget courses-search-bx placeani">
                            <form th:action="@{/search_questions}" method="get">
                                <!-- Form that submits to /search-quizzes -->
                                <div class="form-group">
                                    <label>Question Content</label>
                                    <input name="questionContent" type="text" class="form-control"
                                           th:value="${questionContent}">
                                </div>

                                <div class="form-group">
                                    <label>Question Type</label>
                                    <select name="questionType" class="form-control">
                                        <option value="">All Types</option>
                                        <option value="SINGLE_CHOICE" th:selected="${questionType == 'SINGLE_CHOICE'}">
                                            SINGLE_CHOICE
                                        </option>
                                        <option value="MULTIPLE_CHOICE"
                                                th:selected="${questionType == 'MULTIPLE_CHOICE'}">MULTIPLE_CHOICE
                                        </option>
                                        <option value="NUMERIC" th:selected="${questionType == 'NUMERIC'}">NUMERIC
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="subject">Subject:</label>
                                    <select id="subject" name="subject" class="form-control">
                                        <option value="">-- Select Subject --</option>
                                        <option th:each="subject : ${subjects}"
                                                th:value="${subject.subjectId}"
                                                th:text="${subject.subjectName}"
                                                th:selected="${subject.subjectId == selectedSubjectId}">
                                        </option>
                                    </select><br><br>
                                </div>

                                <div class="form-group">
                                    <label for="lesson">Lesson:</label>
                                    <select id="lesson" name="lesson" class="form-control">
                                        <option value="">-- Select Lesson --</option>
                                        <option th:each="lesson : ${lessons}"
                                                th:value="${lesson.lessonId}"
                                                th:text="${lesson.lessonName}"
                                                th:selected="${lesson.lessonId == selectedLessonId}">
                                        </option>
                                    </select><br><br>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                        <div>
                            <a th:href="@{/add_Question}">create question</a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="row">
                            <!-- Loop through quizzes -->
                            <table id="questions">
                                <tr>
                                    <th>Question ID</th>
                                    <th>Content</th>
                                    <th>Type</th>
                                    <th>Lesson</th>
                                    <th>Subject</th>
                                </tr>
                                <tr th:each="question : ${questionPage.content}">
                                    <td th:text="${question.questionId}"></td>
                                    <td th:text="${question.questionContent}"></td>
                                    <td th:text="${question.questionType}"></td>
                                    <td th:text="${question.lesson.lessonName}"></td>
                                    <td th:text="${question.subject.subjectName}"></td>
                                    <td>
                                        <a th:href="@{/question/{id}(id=${question.questionId})}">View</a>
                                    </td>
                                </tr>
                            </table>
                            <!-- Pagination -->
                            <div class="col-lg-12 m-b20">
                                <div class="pagination-bx rounded-sm gray clearfix">
                                    <ul class="pagination">
                                        <!-- Previous button -->
                                        <li th:classappend="${questionPage.hasPrevious()} ? '': 'disabled'"
                                            class="page-item">
                                            <a th:href="@{/questionlist(page=${questionPage.number - 1}, size=${questionPage.size})}"
                                               class="page-link">Previous</a>
                                        </li>

                                        <!-- Page numbers -->
                                        <li th:each="i : ${#numbers.sequence(1, questionPage.totalPages)}"
                                            th:classappend="${questionPage.number + 1 == i} ? 'active' : ''"
                                            class="page-item">
                                            <a th:href="@{/questionlist(page=${i - 1}, size=${questionPage.size})}"
                                               class="page-link"
                                               th:text="${i}">1</a>
                                        </li>

                                        <!-- Next button -->
                                        <li th:classappend="${questionPage.hasNext()} ? '' : 'disabled'"
                                            class="page-item">
                                            <a th:href="@{/questionlist(page=${questionPage.number + 1}, size=${questionPage.size})}"
                                               class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- contact area END -->

</div>


<!--<div th:each="question : ${questionPage.content}">
    <th5 th:text="${question.questionContent}"></th5>
        nút hiển thị các lựa chọn đáp án
        <button onclick="showAnswers(${question.questionId})">show answer</button>
</div>-->

<div th:replace="footer :: footer"></div>
<!-- External JavaScripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{/vendors/counter/counterup.min.js}"></script>
<script th:src="@{/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{/vendors/masonry/masonry.js}"></script>
<script th:src="@{/vendors/masonry/filter.js}"></script>
<script th:src="@{/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/contact.js}"></script>
</body>
<!--<script>
    function showAnswers(questionId) {
    const answerList = document.getElementById(`answers${questionId}`);

    // Kiểm tra xem câu trả lời đã được tải chưa
    if (answerList.style.display === 'none' || answerList.style.display === '') {
        fetch(`/questions/${questionId}/answers`)
            .then(response => response.json())
            .then(answers => {
                answerList.innerHTML = '';
                answers.forEach(answer => {
                    const li = document.createElement('li');
                    li.innerText = `${answer.content} - Correct: ${answer.correct}`;
                    answerList.appendChild(li);
                });
                answerList.style.display = 'block';
            });
    } else {
        // Ẩn danh sách câu trả lời nếu nó đang hiển thị
        answerList.style.display = 'none';
    }
}
</script>-->
</html>