<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Question</title>
</head>
<body>
<h1>Question Details</h1>

<div>
    <form th:action="@{/question/update}" method="post">

        <input type="hidden" th:value="${question.questionId}" name="id"/>

        <label for="questionContent">Question Content:</label>
        <input type="text" id="questionContent" name="questionContent" th:value="${question.questionContent}"><br><br>

        <label for="questionType">Question Type:</label>
        <select id="questionType" name="questionType">
            <option value="SINGLE_CHOICE" th:selected="${question.questionType == 'SINGLE_CHOICE'}">SINGLE_CHOICE</option>
            <option value="MULTIPLE_CHOICE" th:selected="${question.questionType == 'MULTIPLE_CHOICE'}">MULTIPLE_CHOICE</option>
            <option value="NUMERIC" th:selected="${question.questionType == 'NUMERIC'}">NUMERIC</option>
        </select><br><br>

        <input type="submit" value="Update">
    </form>
    <h3>Answer Options:</h3>
    <ul>
        <li th:each="answer : ${question.answerOptions}">
            <p th:text="${answer.content}">Answer Content</p>
            <p>
                <span th:if="${answer.isCorrect}">Correct Answer</span>
                <span th:if="${!answer.isCorrect}">Incorrect Answer</span>
            </p>
        </li>
    </ul>
</div>

<a href="/questionlist">Back to Question List</a>

</body>
</html>
